<?xml version='1.0' encoding='utf-8'?>
<widget id="com.harmonicnw.test.DeviceFeatures" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Device Features</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@callback.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    
    <feature name="http://api.phonegap.com/1.0/notification"/>
    
    <!-- SPLASH SCREENS -->
    <gap:splash src="splash.png" />

    <gap:splash src="res/screen/ios/Default~iphone.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="res/screen/ios/Default@2x~iphone.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="res/screen/ios/Default-568h@2x~iphone.png" gap:platform="ios" width="640" height="1136" />
	
	
	<gap:splash src="res/screen/ios/Default-Landscape~ipad.png" gap:platform="ios" width="1024" height="748" />
	<gap:splash src="res/screen/ios/Default-Portrait~ipad.png" gap:platform="ios" width="768" height="1004" />
	
	<!-- retina iPad support: PhoneGap 2.5.0+ only -->
	<gap:splash src="res/screen/ios/Default-Landscape@2x~ipad.png" gap:platform="ios" width="2048" height="1496" />
	<gap:splash src="res/screen/ios/Default-Portrait@2x~ipad.png" gap:platform="ios" width="1536" height="2008" />
	
	<!-- ICONS -->
	<icon src="icon.png" />
	
	<icon src="res/icon/ios/icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="res/icon/ios/icon@2x.png" gap:platform="ios" width="114" height="114" />
	
	<!-- retina iPad support: PhoneGap 2.5.0+ only -->
	<icon src="res/icon/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144" />
	
</widget>
